#dispWin {
	border-color : White;
	border : solid;
}

#btnWin {
	width : 20%;
	border-color : White;
	border : solid;
	display : flex;
}

#numBtn {
	width : 30%;
	display : block1;
}

#opBtn {
	display : grid;
}